/* BEGIN EXTERNAL SOURCE */
div {
margin-top:10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
text-align:right !important;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
display:flex; flex-direction: row; justify-content: center; align-items: center;height:5px;
}
/* END EXTERNAL SOURCE */
